<!DOCTYPE html>
<html>

<head>
    <title>
        <%= article.title %>
    </title>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
    <script defer src="/index.js"></script>
</head>

<body style="visibility: hidden">
    <div id="app">
        <%- include('../include/navigation'); -%>
        <article-view>
            <div class="container p-5">
                <div class="p-4 rounded" style="background-color: var(--dark-2);">
                    <h1 class="mb-0">
                        <%= article.title %>
                    </h1>
                    <div class="mb-3 text-muted">
                        <%= DateTime.fromSeconds(article.created_at).toFormat('LLL dd yyyy') %>
                    </div>
                    <p><%- article.body %></p>
                    <p><%# article.body.replaceAll("\n", '</p><p>' ) %></p>
                </div>
            </div>
        </article-view>
    </div>
</body>

</html>